.orders-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.order-list {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.order-details {
  flex: 1;
}

h2 {
  font-size: 18px;
  margin: 0;
}

p {
  margin: 5px 0;
}

.order-actions {
  flex: 0;
}

.view-details-btn {
  background-color: #084531;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.view-details-btn:hover {
  font-weight: bolder;
}
