.checkout-container {
  max-width: 600px;
  margin: 80px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.payment-methods {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.payment-details {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  background-color: #084531;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:disabled {
  opacity: 0.3;
}
input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

span {
  color: red;
}

input[type="number"].no-spinner::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
