ul {
  list-style: none;
  padding-left: 0;
}

footer {
  background-color: white;
  color: black;
  line-height: 1.5;
}

.ft {
  padding: 0 30px;
  background-color: white;
}

.ft-list {
  width: 100%;
  display: flex;
}

.ft-list li {
  margin: 10px 30px;
}
